

body {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background: url("../images/background.png") no-repeat 50% 50% fixed;
    background-size: cover;
    position: relative;
    z-index:0;
}

h1, h2, h4 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
}

h2, h4 {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom:2px solid #ccc
}

.container {
    padding:0;
    width: 980px !important;
}

nav {
    border-bottom: 2px solid #ccc;
}

.navbar-brand {
    background-color:white; 
    padding:20px 80px 20px 20px;
    line-height: 40px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin:0;
    height:82px;
    font-family:'Georgia', Times, 'Times New Roman', serif;
} 

.myName {
    margin-right: 450px;
}

.navbar-nav {
    font-family:'Georgia', Times, 'Times New Roman', serif;
    width: 640px;
}

img {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}

.borders {
    border: 2px solid #ccc;
}

.space {
    margin-top:100px;
}

.heightControl {
    height:50%;
}

.myStuff {
        position: relative;
        overflow: auto;
}

.myStuff h3 {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}

.myStuff img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}